.projects-section {
    padding: 60px 20px;
    background: linear-gradient(to bottom, #1a202c, #2d3748);
  }
  
  .projects-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .project-card {

    color:linear-gradient(to bottom, #1a202c, #2d3748);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .project-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 20px;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .project-card:hover .project-description {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project-technologies {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  
  .project-link {
    text-decoration: none;
    color: #38b2ac;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .project-link:hover {
    color: #319795;
  }
  